In [168]:
# Permite usar SQL em blocos de notas do Jupyter
%load_ext sql


import pandas as pd
import csv, sqlite3

# Obejeto de conexão com a base de dados
con = sqlite3.connect("my_data1.db")

# Carregar o sql
%sql sqlite:///my_data1.db

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
#df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [169]:
# Visualizar as 5 primeiras linhas da tabela carregada do DB
%sql select * from SPACEXTBL limit 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

A Consulta SQL acima demostra que, todos os dados foram carregados com exito

In [170]:
# Exibir os atributos exclusivos na variavel de interesse
%sql select distinct Launch_Site from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

Confirmar as bases responsaveis pelos lançamentos do foquete falcon 9 existentes no conjunto de dados

In [171]:
# Exibir 5 registros onde os locais de lançamento começam com a string 'CCA'
%sql select * from SPACEXTBL where Launch_Site like 'CCA%' limit 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [172]:
# Exibir a massa total da carga útil transportada pelos propulsores lançados pela NASA (CRS)
%sql select sum(PAYLOAD_MASS__KG_) as Total_Payload_Mass from SPACEXTBL where Customer = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

O peso total em Kg, a qual foram transportados, por meio dos propulsores lançados pela **Nasa (CRS)**, fora de 45.596 Kg

In [173]:
# Exibir massa média de carga transportada pelo propulsor versão F9 v1.1
%sql select avg(PAYLOAD_MASS__KG_) as Averange_Payload_Mass from SPACEXTBL where Booster_Version like "%F9 v1.1%"

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

A carga média transportada pelo propulsor **F9 v1.1** é de 2.534 Kg

In [174]:
# Extrair a data em que o primeiro resultado de pouso bem-sucedido na plataforma foi alcançado.
%sql select min(Date) as First_Success_Date from SPACEXTBL where Landing_Outcome = "Success (ground pad)"

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

No dia 22 de dezembro de 2015, foi a data em que pela primeira vez, se obteve sucesso no pouso do foguete falcon 9

In [175]:
# Propulsores que tiveram sucesso, no pouso em balsas drones (drone ship), e que possuem massa de carga util maior que 4.000 Kg, porém, menor que 6.000 Kg
%sql select Payload as Propulsores from SPACEXTBL \
where Landing_Outcome = "Success (drone ship)" and PAYLOAD_MASS__KG_ between 4000 and 6000;

 * sqlite:///my_data1.db
Done.

[('JCSAT-14',), ('JCSAT-16',), ('SES-10',), ('SES-11 / EchoStar 105',)]

**Balsa Drone**:

<center> <img src="https://cdn.mos.cms.futurecdn.net/pCHsiFSMmBfbCYaRfStP9i-1024-80.jpg.webp" width=1000 height=300 /> </center>

Acima, estão os propulsores que obtiveram sucesso, ao pousar um uma balsa drone, situada em uma lugar especifico no oceno

In [176]:
# Total de resultados de missões bem-sucedidas e malsucedidas
%sql select Mission_Outcome, count(*) as Total from SPACEXTBL group by Mission_Outcome;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

Pode se observar que, em um total de 101 missões, apenas uma missão houve falha, as outras 100 obtiveram sucesso, o que mostra um total de 99% de acertividade nas missões realizadas com a falcon 9 até o anos de 2020

In [177]:
# Booster_versions que carregaram a massa de carga útil máxima
%sql select Booster_Version from SPACEXTBL where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

Note que, todas as versões de booster, que carregaram a maior carga util, são F9 B5, e estão dentro de um intervalo de B1048 até B1060

In [178]:
# Registros dos resultados de falhas de pouso na balsa drone, versões de propulsores, local de lançamento e dos meses do ano de 2015.
%sql select Date, Landing_Outcome, Booster_Version, Launch_Site from SPACEXTBL \
where Landing_Outcome = "Failure (drone ship)" and Date like "%2015%";

 * sqlite:///my_data1.db
Done.

[('2015-01-10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('2015-04-14', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

No periodo de 2015, houveram duas falhas da falcon 9 ao tentar pousar em uma balsa drone, e aconteceram no mesmo site, no CCAFS LC-40, a primeira falha aconteceu no dia 10 de janeiro, logo no inicio do ano de 2015, e a segunda no dia 14 de abril.

In [179]:
# Total dos resultados de pouso (como Falha (navio drone) ou Sucesso (plataforma de pouso)) entre as datas de 2010-06-04 e 2017-03-20, em ordem decrescente.
%sql SELECT Landing_Outcome, COUNT(*) as Total \
FROM SPACEXTBL WHERE DATE BETWEEN "2010-06-04" AND "2017-03-20" \
GROUP BY Landing_Outcome HAVING Landing_Outcome="Success (ground pad)" OR Landing_Outcome="Failure (drone ship)" ORDER BY Landing_Outcome DESC;

 * sqlite:///my_data1.db
Done.

[('Success (ground pad)', 3), ('Failure (drone ship)', 5)]